body {
  margin: 0;
  font-size: 22px;
  font-family: sans-serif;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
